:global(.fade-enter) {
  opacity: 0;
}

:global(.fade-enter.fade-enter-active) {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

:global(.fade-exit) {
  opacity: 1;
}

:global(.fade-exit.fade-exit-active) {
  opacity: 0;
  transition: opacity 250ms ease-in;
}